//
// Headings
//

h1,
h2,
h3,
h4,
h5 {
    font-family: 'MORFY_400', "Helvetica Neue", Helvetica, arial, sans-serif;

    color: #000;
}

.h2-reason {
    font-size: 38px;

    margin-top: 60px;
    margin-bottom: 70px;
}
