/* Features Content */
.benefits-container {
    padding-bottom: 30px;
}

.features-columns {
    margin-bottom: 50px;

    text-align: center;
}

.features-columns h4 {
    font-weight: 700;

    color: #c75c5c;
}

.features-columns img {
    display: block;

    width: 90px;
    height: auto;
    margin: 0 auto 30px;
}
