//
// Footer
//

@footer-social-color: @white;
@footer-text-color: #b7b7b7;


#footer {
    position: relative;

    height: @footer-height;
    height: 80px;
    padding-top: 110px;
    padding-bottom: 260px;

    color: @footer-text-color;
    background: #212121;
    background-position: bottom;
    background-size: cover;

    p {
        color: @footer-text-color;
    }

    a {
        color: @footer-text-color;
    }

    .locales,
    .copyright {
        margin: 30px 0 0 0;
        padding: 0;

        list-style: none;

        .text-center;

        .fa {
            color: @white;
        }

        .highlight {
            color: @white;
        }

        li {
            display: inline-block;

            margin: 0 0 0 1em;
            padding: 0 0 0 1em;

            border-left: solid 1px rgba(255, 255, 255, .075);

            &:first-of-type {
                margin-left: 0;
                padding-left: 0;

                border-left: none;
            }
        }
    }

    .social-links {
        padding-top: 10px;
        padding-bottom: 10px;

        > a > .fa {
            font-size: 28px;

            width: 34px;
            margin: 0 8px;

            transition: all .3s ease;

            color: @footer-social-color;

            &:hover {
                color: #ca3628;
            }
        }
    }
}

@media (max-width: 600px) {
    #footer {
        padding-top: 20px;
        padding-bottom: 320px;

        .copyright {
            padding: 0;

            li {
                margin: 0;
                padding: 0;

                border-left: none;
            }
        }

        .social-links {
            > a > .fa {
                margin: 20px;
            }
        }
    }
}
