.mega-header {
    background: url('../img/morfy-universe-2.jpg');
    background-color: @black;
    background-size: cover;
    background-size: cover;

    h1 {
        font-size: 82px;

        margin: 0;
        padding: 0;

        color: @white;
    }
}

.universe-dark-matter,
.universe {
    position: absolute;

    display: block;

    width: 100%;
    height: 716px;

    opacity: 0.3;
    background: @black;
}


.mega-header h1.page-header-h1 {
    font-size: 46px;

    padding-top: 45px;
    padding-bottom: 45px;
}

.mega-header h1.page-header-h1 .blog-rss-button {
    float: right;
}

.mega-header h1.page-header-h1 .fa-rss {
    margin-right: 64px;

    color: @white;
}

.morfy-promo-block {
    padding: 160px 0 230px;

    text-align: center;

    color: @white;
}

.morfy-promo-block p.lead {
    font-size: 26px;

    padding-top: 20px;
    padding-bottom: 20px;

    color: @white;
}


@media (max-width: 600px) {
    .morfy-promo-block {
        padding: 70px 0 100px;
    }

    .morfy-promo-block p.lead {
        font-size: 18px;
    }

    .mega-header h1 {
        font-size: 48px;
    }
}
