.mega-header {
    background: url('../img/fansoro-universe-3.jpg');
    background-color: @black;
    background-size: cover;
    background-size: cover;

    h1 {
        font-size: 82px;

        margin: 0;
        padding: 0;

        color: @white;
    }
}

.universe-dark-matter,
.universe {
    position: absolute;

    display: block;

    width: 100%;
    height: 730px;

    opacity: 0.3;
    background: @black;
}

.universe-dark-matter {
    opacity: 0;
}

.mega-header h1.page-header-h1 {
    font-size: 46px;

    padding-top: 65px;
    padding-bottom: 65px;
}

.mega-header h1.page-header-h1 .blog-rss-button {
    float: right;
}

.mega-header h1.page-header-h1 .fa-rss {
    margin-right: 64px;

    transition: all .3s ease;
    text-decoration: none;

    color: @white;
    &:hover {
        text-decoration: none;

        color: #3cb4f9;
    }
}

.fansoro-promo-block {
    position: relative;
    z-index: 50;

    padding: 170px 0 260px;

    text-align: center;

    color: @white;
}

.fansoro-promo-block p.lead {
    font-size: 26px;

    padding-top: 20px;
    padding-bottom: 20px;

    color: @white;
}


@media (max-width: 600px) {
    .universe-dark-matter,
    .universe {
        height: 568px;
    }

    .fansoro-promo-block {
        padding: 120px 0 110px;
    }

    .fansoro-promo-block p.lead {
        font-size: 18px;
    }

    .mega-header h1 {
        font-size: 48px;
    }
}
