//
// Buttons
//

.btn-black {
    transition: all .3s ease;

    color: #000;
    border: 2px solid #000;
    border-radius: 4px;
    background: transparent;
}

.btn-black:hover {
    color: #fff;
    border: 2px solid #000;
    background: #000;
}

.btn-white {
    transition: all .3s ease;

    color: #000;
    border: 2px solid #fff;
    border-radius: 4px;
    background: #fff;
}

.btn-white:hover {
    color: #fff;
    border: 2px solid #c75c5c;
    background: #c75c5c;
}

.btn-download-fansoro {
    padding: 12px 35px;

    transition: all .3s ease;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    background: transparent;
}

.btn-download-fansoro:hover {
    color: #fff;
    border: 2px solid #0071b2;
    background: #0071b2;
}

.btn-add-plugin {
    width: 150px;
    margin-top: 24px;
}


@media (max-width: 600px) {
    .btn-download-fansoro {
        margin-bottom: 20px!important;
    }

    .btn-download-fansoro,
    .btn-github-fansoro {
        width: 80%;
        margin: 0;
    }
}
